<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <link href="https://cdnjs.cloudflaer.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <title>Portfolio</title>
</head>

<body style="background-color: #b8bbd1">
  <div class="frame">
    <div class="main_frame">
      <div class="left_frame">
        <div class="left_1">
          <div class="left_1-1">
            <img src="images/profile.png" width="156px" height="142px" alt="">
          </div>
          <div class="left_1-2">
            ULUGBEK
          </div>
          <div class="left_1-3">
            <%=user.profession%>
          </div>
          <div class="left-icons">
            <a href="https://www.facebook.com/" class="link_href">
              <div class="icon">
                <img src="icon/Facebook.svg" class="icon-1" alt="">
              </div>
            </a>
            <a href="https://www.instagram.com/" class="link_href">
              <div class="icon">
                <img src="icon/Instagram.svg" class="icon-1" alt="">
              </div>
            </a>
            <a href="https://twitter.com/?lang=en" class="link_href">
              <div class="icon">
                <img src="icon/Twitter.svg" class="icon-1" alt="">
              </div>
            </a>
            <a href="https://www.linkedin.com/" class="link_href">
              <div class="icon">
                <img src="icon/Linkeding.svg" class="icon-1" alt="">
              </div>
            </a>
            <a href="https://www.youtube.com/" class="link_href">
              <div class="icon">
                <img src="icon/Youtube.svg" class="icon-1" alt="">
              </div>
            </a>
            <a href="https://dribbble.com/" class="link_href">
              <div class="icon">
                <img src="icon/Dribbble.svg" class="icon-1" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_2">
          <div class="left_2-1">
            <div class="personal">Age:</div>
            <%=user.age%>
          </div>
          <div class="left_2-1">
            <div class="personal">Residance:</div>
            <%=user.residence%>
          </div>
          <div class="left_2-1">
            <div class="personal">Freelance:</div>
            <div class="freecolor">
              <%=user.freelance%>
            </div>
          </div>
          <div class="left_2-1">
            <div class="personal">Address:</div>
            <%=user.adress%>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_3">
          <div class="lan_list">Languages</div>
          <aside class="lan">
            <%=user.languages[0]%>
              <span>100%</span>
          </aside>
          <div class="container">
            <div class="uzb per_line"></div>
          </div>
          <aside class="lan">
            <%=user.languages[1]%>
              <span>90%</span>
          </aside>
          <div class="container">
            <div class="kor per_line"></div>
          </div>
          <aside class="lan">
            <%=user.languages[2]%>
              <span>90%</span>
          </aside>
          <div class="container">
            <div class="eng per_line"></div>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_4">
          <div class="skil_list">Skills</div>
          <aside class="skil">
            <%=user.skills[0]%>
              <span>90%</span>
          </aside>
          <div class="container">
            <div class="html per_line"></div>
          </div>
          <aside class="skil">
            <%=user.skills[1]%>
              <span>95%</span>
          </aside>
          <div class="container">
            <div class="css per_line"></div>
          </div>
          <aside class="skil">
            <%=user.skills[2]%>
              <span>90%</span>
          </aside>
          <div class="container">
            <div class="js per_line"></div>
          </div>
          <aside class="skil">
            <%=user.skills[3]%>
              <span>95%</span>
          </aside>
          <div class="container">
            <div class="nodejs per_line"></div>
          </div>
          <aside class="skil">
            <%=user.skills[4]%>
              <span>85%</span>
          </aside>
          <div class="container">
            <div class="python per_line"></div>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_5">
          <div class="extra">Extra Skills</div>
          <aside class="ex_skil">
            <img src="icon/cube.svg" class="cub" alt="">
            <%=user.extra_skills[0]%>
          </aside>
          <aside class="ex_skil">
            <img src="icon/cube.svg" class="cub" alt="">
            <%=user.extra_skills[1]%>
          </aside>
          <aside class="ex_skil">
            <img src="icon/cube.svg" class="cub" alt="">
            <%=user.extra_skills[2]%>
          </aside>
          <aside class="ex_skil">
            <img src="icon/cube.svg" class="cub" alt="">
            <%=user.extra_skills[3]%>
          </aside>
        </div>
        <div class="marginer"></div>

      </div>
      <div class="mid_frame">
        <div class="mid_1">
          <div class="shapes">
            <img src="box_images/Ellipse15.svg" class="ellip_15" alt="">
            <img src="box_images/Ellipse16.svg" class="ellip_16" alt="">
            <img src="box_images/Rectangle52.svg" class="rectan_52" alt="">
            <img src="box_images/Ellipse12.svg" class="ellip_12" alt="">
            <img src="box_images/Ellipse13.svg" class="ellip_13" alt="">
            <img src="box_images/Rectangle51.svg" class="rectan_51" alt="">
            <img src="box_images/Polygon1.svg" class="poly" alt="">

          </div>
          <main class="hospital">
            <div class="doctor neuro"> Software Engineer in IT Company</div>
            <div class="doctor text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feug placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
            <div class="doctor">
              <a href="###" class="#">
                <img src="btn_icon/hire.svg" class="hire" alt="">
              </a>
            </div>
          </main>
          <div class="mid_2">
            <div class="candidat"><img src="images/candidate.png" class="boy" alt=""></div>
          </div>
        </div>
        <section class="service">
          <h3 class="servic_head">My Services</h3>
          <p class="offer">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</p>
        </section>
        <div class="choice">
          <div class="choice_top">
            <section class="web">
              <img src="menu_icon/coding.svg" class="blog" alt="">
              <h3 class="web_text">Web Development</h3>
              <span class="commerce_text">Blog, E-Commerce</span>
            </section>
            <section class="ui">
              <img src="menu_icon/illustration.svg" class="mobile" alt="">
              <h3 class="design_text">UI/UX Design</h3>
              <span class="app_text">Mobile APP, Website Design</span>
            </section>
            <section class="sound">
              <img src="menu_icon/Microphone.svg" class="micro" alt="">
              <h3 class="sound_text">Sound Design</h3>
              <span class="voice_text">Voice Over, Beat Making</span>
            </section>
          </div>
          <div class="choice_bottom">
            <section class="game">
              <img src="menu_icon/game-development.svg" class="character" alt="">
              <h3 class="game_text">Game Design</h3>
              <span class="character_text">Character Design, Props & Objects</span>
            </section>
            <section class="photo">
              <img src="menu_icon/Photographer.svg" class="portrait" alt="">
              <h3 class="photo_text">Photography</h3>
              <span class="portrait_text">Portrait, Product Photography</span>
            </section>
            <section class="ads">
              <h3 class="ads_head">Advertising</h3>
              <p class="ads_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</p>
              <a href="###" class="#">
                <img src="menu_icon/order.svg" class="order_here" alt="">
              </a>
            </section>
          </div>
        </div>
      </div>
      <div class="right_frame">
        <a href="####" class="hover_effect">
          <div class="dark">
            <img src="navigation_icon/Contrast.svg" class="night_mode" alt="">
          </div>
        </a>
        <div class="navigation_list">
          <a href="###" class="hover_effect">
            <div class=" nav_icon">
              <img src="navigation_icon/Home.svg" class="home" alt="">
            </div>
          </a>
          <a href="###" class="hover_effect">
            <div class="nav_icon">
              <img src="navigation_icon/Service.svg" class="document" alt="">
            </div>
          </a>
          <a href="###" class="hover_effect">
            <div class="nav_icon">
              <a href="###" class="hover_effect">
                <img src="navigation_icon/cv.svg" class="cv" alt="">
            </div>
          </a>
          </a>
          <a href="###" class="hover_effect">
            <div class="nav_icon">
              <img src="navigation_icon/Portfolio.svg" class="portfolio" alt="">
            </div>
          </a>
          <a href="###" class="hover_effect">
            <div class="nav_icon">
              <img src="navigation_icon/Blog.svg" class="social" alt="">
            </div>
          </a>
          <a href="###" class="hover_effect">
            <div class="nav_icon">
              <img src="navigation_icon/Contact.svg" class="contact" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</body>

</html>